extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    div.card.bigCard.my-2.px-5.py-2.has-background-primary
      p #[strong #{caseName.type}]
      p #[strong Price:] $ #{caseName.price} 
      p #[strong Color:] #{caseName.color}
      p #[strong In Stock:] #{caseName.amount}
    
    button.button.is-danger
      a.has-text-light(href='/catalog/case/delete') Delete Case