extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    form(method='POST' action='')
      div
        label(for='name') Name:
        input#name(type='text' placeholder='Case Name' name='name' required='true' value=(undefined===newCase ? '' : newCase.name))
      div
        label(for='manufacturer') Manufacturer:
        input#manufacturer(type='text' placeholder='Manufacturer' name='manufacturer' required='true' value=(undefined===newCase ? '' : newCase.manufacturer))
      div
        label(for='type') Type:
        select#type(type='select' placeholder='Select Type' name='type' required='true')
          - types.sort(function(a, b) {let textA = a.toUpperCase(); let textB = b.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
          for item in types
            if newCase
              option(value=newCase._id selected=(newCase._id.toString()===newCase._id.toString() ? 'selected' : false)) #{newCase.type}
            else
              option(value=item) #{item}
      div
        label(for='color') Color:
        select#color(type='select' placeholder='Select Color' name='color' required='true')
          - colors.sort(function(a, b) {let textA = a.toUpperCase(); let textB = b.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
          for item in colors
            if newCase
              option(value=newCase._id selected=(newCase._id.toString()===newCase._id.toString() ? 'selected' : false)) #{newCase.color}
            else
              option(value=item) #{item}
      div
        label(for='price') Price:
        input(type='number', name='price' placeholder='0.00' required='true' value=(undefined===newCase ? '' : newCase.price))
      div
        label(for='amount') Amount:
        input(type='number', name='amount' placeholder='1' required='true' value=(undefined===newCase ? '' : newCase.amount))
      button(type='submit') Submit
    
    if errors
      ul
        for error in errors
          li!=error.msg
