extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    ul.inv-list
      - cpu_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each cpu in cpu_list
        li
          div.card.mx-5.my-2.px-5.py-2.has-background-primary
            a(href=cpu.url) #[strong #{cpu.manufacturer} #{cpu.name}]
            p #[strong Cores:] #{cpu.coreCount} 
            p #[strong Clock:] #{cpu.coreClock}
            p #[strong Price:] $#{cpu.price}
            p #[strong In Stock:] #{cpu.amount}
      else
        li There are no cpus.
    
    button.button.is-link.mx-5.my-2
      a.has-text-light(href='/catalog/cpu/create') Add New CPU