extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    div.card.bigCard.my-2.px-5.py-2.has-background-primary
      p #[strong Cores:] #{cpu.coreCount} 
      p #[strong Clock:] #{cpu.coreClock}
      p #[strong Price:] $#{cpu.price}
      p #[strong In Stock:] #{cpu.amount}
    
    button.button.is-danger.mr-5
      a.has-text-light(href='/catalog/cpu/delete') Delete Case