extends layout

block content
  div.container
    section(class='hero is-dark is-danger') 
      div.hero-body
        div.container
          h1.title.has-text-black Do you really want to delete #{cpu.manufacturer} #{cpu.name} from inventory list?
          br
          h3.subtitle.has-text-black There is currently #[strong #{cpu.amount}] in stock.

    div.card.bigCard.my-2.px-5.py-2.has-background-danger
      p #[strong #{cpu.manufacturer} #{cpu.name}]
      p #[strong Cores:] #{cpu.coreCount} 
      p #[strong Clock:] #{cpu.coreClock} GHz
      p #[strong Price:] $#{cpu.price}
      p #[strong In Stock:] #{cpu.amount}
    
    form(method='POST' action='')
      div.form-group
        input#cpuid.form-control(type='hidden',name='cpuid', required='true', value=cpu._id )

      button.button.is-danger(type='submit') Delete