extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    div.card.bigCard.my-2.px-5.py-2.has-background-primary
      p #[strong Type:] #{memory.type} 
      p #[strong Size:] #{memory.size}
      p #[strong Color:] #{memory.color}
      p #[strong Price:] $#{memory.price}
      p #[strong In stock:] #{memory.amount}