extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    ul.inv-list
      - motherboard_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each motherboard in motherboard_list
        li
          div.card.mx-5.my-2.px-5.py-2.has-background-primary
            a(href=motherboard.url) #[strong #{motherboard.manufacturer} #{motherboard.name}]
            p #[strong Form Factor:] #{motherboard.formFactor} 
            p #[strong Memory:] #{motherboard.memory}
            p #[strong Price:] $#{motherboard.price}
            p #[strong In Stock:] #{motherboard.amount}
      else
        li There are no motherboards.