extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    ul.inv-list
      - storage_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each storage in storage_list
        li
          div.card.mx-5.my-2.px-5.py-2.has-background-primary
            a(href=storage.url) #[strong #{storage.manufacturer} #{storage.name}]
            p #[strong Capacity:] #{storage.capacity}
            p #[strong Type:] #{storage.type} 
            p #[strong Price:] $#{storage.price}
            p #[strong In Stock:] #{storage.amount}
      else
        li There are no storages.