extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    div.card.bigCard.my-2.px-5.py-2.has-background-primary
      p #[strong Capcity:] #{storage.capacity}
      p #[strong Type:] #{storage.type} 
      p #[strong Price:] $#{storage.price}
      p #[strong In Stock:] #{storage.amount}
    
    button.button.is-danger.mr-5
      a.has-text-light(href='/catalog/'+storage.url+'/delete') Delete Storage