extends layout

block content
  div.container
    section(class='hero is-dark is-primary') 
      div.hero-body
        div.container
          h1.title.has-text-black #{title}

    div.card.bigCard.my-2.px-5.py-2.has-background-primary
      p #[strong Chipset:] #{videoCard.chipset} 
      p #[strong Memory:] #{videoCard.memory}
      p #[strong Price:] $#{videoCard.price}
      p #[strong In Stock:] #{videoCard.amount}
    
    button.button.is-danger.mr-5
      a.has-text-light(href='/catalog/'+videoCard.url+'/delete') Delete Video Card
    button.button.is-primary
      a.has-text-light(href='/catalog/'+videoCard.url+'/update') Update Video Card